.Nav-title {
    font-size: 2em;
    font-weight: bold;
}

.Nav {
    display: flex;
    background-color: azure;
    align-items: flex-end;
    justify-content: space-between;
    margin: 5px;
}

.Nav-Link {
    margin: 20px;
}
